html,body, div{
    height:100;
    text-align: center;
    zoom: 0%;
}
body{
    height: 100%;
    text-align: center;
    margin:0;
    padding:0;
}
.day
{
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
#gold
{
    height: 100%;
    background: #F8B238;
    display: none;
    text-align: center;
}

#blue
{
    height: 100%;
    background: #5C7C87;
    display: none;
    text-align: center;
}

#grey
{
    height: 100%;
    background: #FF6801;
    display: none;
    text-align: center;
}

h1
{
    margin: 0;
    padding-top: 0px;
    padding-bottom: 85px;
    text-align: center;
    font-size: 72px;
    font-family: 'Passion One', italic;
    color: white;
}

h2
{
   text-align: center;
}